
body {
    padding:0;

}

/*
 padding-top:15px;
    padding-bottom:15px;
	padding-left:30px;
	padding-right:30px;
	
.detail_container{
width:84%;
height:99%;
padding:0 15px 0 15px;
border: 1px solid rgba(191,191,191,0.3);
box-shadow:2px 2px 3px #aaaaaa;
}
*/

.detail_container p{
margin-top:0px;
	margin-bottom:0px
}

span,p,div,li{
word-break:break-all;
}

.detail_title{
color:#4286F3;
}

.detail_content{
color:#55AF7B;
}

.detail_container span,p,ul,ol,h1,h2,h3,h4,h5,h6{
margin-left:30px;
margin-right:30px;
}

.detail_container:nth-child(1){
margin-top:50px;
}

.detail_container img{
margin-top:0 !important;
}
