<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.beyond.note5">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/StartLoadBackgroundFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/StartLoadBackgroundFullScreenTheme">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity
            android:name=".view.ShareActivity"
            android:label="note"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.FloatEditorActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".view.TestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/StartLoadBackgroundFullScreenTheme" />


        <activity
            android:name=".view.DavLoginActivity"
            android:theme="@style/StartLoadBackgroundFullScreenTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.beyond.note5"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.FloatEditorService"
            android:launchMode="singleInstance" />
        <service
            android:name=".service.NotificationScanningService"
            android:launchMode="singleInstance" />
        <service android:name=".service.SyncRetryService" />

        <receiver android:name=".service.NotificationClickReceiver">
            <intent-filter>
                <action android:name="com.beyond.note5.intent.action.NOTIFICATION_CLICK" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.SyncRetryReceiver">
            <intent-filter>
                <action android:name="com.beyond.note5.intent.action.SYNC_RETRY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.SyncScheduleReceiver">
            <intent-filter>
                <action android:name="com.beyond.note5.intent.action.SYNC_SCHEDULE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.schedule.ScheduleReceiver"/>
    </application>
</manifest>